.gallery-container {
    overflow: hidden;
    position: relative;
  }
  
.gallery-slider {
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

.p {
    word-spacing: 30px;
  }